.App{
  position:absolute;
  top:300px;
  right: 50px;
}

.App .container {
  width: 90%;
  background-color: var(--background-color);
  padding-top: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 576px) {
  .App .container {
    width: 85%;
    padding-top: 50px;
  }
}

@media screen and (min-width: 768px) {
  .App .container {
    width: 85%;
    padding-top: 53px;
  }
}

@media screen and (min-width: 992px) {
  .App .container {
    width: 700px;
  }
}